html, body {margin: 0; height: 100%; overflow: hidden}

.container{
   
    width: 1440px;
    position: relative;
    font-family: "Hanken Grotesk", sans-serif;
    padding: 100px;
    left: 300px;

}

.card{
    width: 40%;
    box-shadow: 3px 3px 20px hsl(241, 100%, 89%);
    display: flex;
    border-radius: 20px;
    
}

.result{
    width: 250px;
    height: auto;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 20px;
   
}

.summary{
    width: 250px;
    background-color: hsl(0, 0%, 100%);
    
}

.number{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 22px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}
.result h1{
    color: hsl(241, 100%, 89%);
    text-align: center;
}

#current-number{
    text-align: center;
    padding-top: 40px;
    font-size: 75px;
}

#total-number{
    color: rgb(152,152,152);
    margin-top: -60px;


}

.result p{
    color: rgb(152,152,152);
    text-align: center;
}

.result h2{
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.summary{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;

}

.reaction{
    width: 115%;
    height: 50px;
    background-color: #ffe6ea;
    border-radius: 12px;
}

.memory{
    width: 115%;
    height: 50px;
    background-color: hsl(60, 100%, 95%);
    border-radius: 12px;
}


.verbal{
    width: 115%;
    height: 50px;
    background-color: #e6fee6;
    border-radius: 12px;
}

.visual{
    background-color: #f3e9fc;
    width: 115%;
    height: 50px;
    border-radius: 12px;
}

img{
    padding-left: 10px;
    padding-top: 15px;
    display: inline-block;
}
button{
    background-color: hsl(224, 30%, 27%);
    width: 115%;
    height: 50px;
    border-radius: 30px;
    color: #F8F8F8;
    font-weight: 500;
    font-size: 18px;
}

button:hover{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 1));
}

.primary{
    display: inline;
  
}
